{% block header %}
{% load static %}
    <header class="w-100 d-flex justify-content-center custom-header position-fixed top-0 z-40">
        <section class="flex-grow-1 w-100 px-4 py-2 d-flex justify-content-center align-items-center general-container">
            <section class="flex-grow-1">
                <img src="{% static 'images/logo.png' %%}" width="40" height="40">
            </section>
            
            
            <ul class="d-flex justify-content-between align-items-center mb-0 custom-header__menu flex-grow-1">
                <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                    <a>Empresas</a>
                </li>
                <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                    <a>Clientes</a>
                </li>
                <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                    <a>Proveedores</a>
                </li>
            </ul>
        </section>
    </header>
{% endblock %}