{% extends "base.html" %}
{% block content %}
    <div>
        <div >
            <a class="btn btn-success" href="{% url 'crear_cliente' %}" role="button">
                Crear Cliente
            </a>
        </div>
        <div>
            <h4 class="card-title">Clientes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Tipo</th>
                        <th>País</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.get_tipo_display }}</td>
                        <td>{{ cliente.pais }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'editar_cliente' cliente.id %}">Modificar</a> 
                            <a class="btn btn-primary" href="{% url 'ver_cliente' cliente.id %}" role="button">Ver</a> 
                            <a class="btn btn-danger" href="{% url 'eliminar_cliente' cliente.id %}">Eliminar</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}